<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Vezba1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ispis</display-name>
    <servlet-name>Ispis</servlet-name>
    <servlet-class>Ispis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ispis</servlet-name>
    <url-pattern>/Ispis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IspisParni</display-name>
    <servlet-name>IspisParni</servlet-name>
    <servlet-class>IspisParni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IspisParni</servlet-name>
    <url-pattern>/IspisParni</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IspisNeparni</display-name>
    <servlet-name>IspisNeparni</servlet-name>
    <servlet-class>IspisNeparni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IspisNeparni</servlet-name>
    <url-pattern>/IspisNeparni</url-pattern>
  </servlet-mapping>
</web-app>